.wp-block-good-slider-slider {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    border: 1px solid black;

    .wp-block-good-slider-item {
        border: 1px solid black;
    }

    .block-editor-button-block-appender {
        background-color: var(--wp-admin-theme-color);
        color: #fff;
        border: none;
        outline: 1px solid transparent;
        box-shadow: none;
    }
}
